[submodule "roles/basic-host"]
	path = roles/basic-host
	url = https://github.com/aardsoft/ansible-role-basic-host.git
[submodule "roles/data-utilities"]
	path = roles/data-utilities
	url = https://github.com/aardsoft/ansible-data-utilities.git
[submodule "roles/dhcpd-isc"]
	path = roles/dhcpd-isc
	url = https://github.com/aardsoft/ansible-role-dhcpd-isc.git
[submodule "roles/dns-cache-unbound"]
	path = roles/dns-cache-unbound
	url = https://github.com/aardsoft/ansible-role-dns-cache-unbound.git
